<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <script src='../Angularjs/angular.min.js'></script>
    <style>
        table,tr,td{
            border:solid 1px red;
            text-align: center;
        }
    </style>
</head>

<body ng-app='app'>
    <div ng-controller='ctr'>
        <!-- <div>随机数：{{a}}</div>
        <button ng-click=fun()>点击按钮</button>
        <div>{{time}}</div> -->

       <input type="text" ng-blur='send()'>
        <div>
            <table cellpadding='0' cellspacing='0'>
                <tr>
                    <td>学号</td>
                    <td>姓名</td>
                    <td>性别</td>
                </tr>
                <tr ng-repeat='student in students'>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.sex=='M'?'男':'女'}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    var app = angular.module('app', []);
    app.controller('ctr',function($scope,$interval,$http,$filter){
      
            //清除上一次生成的id
           
        //    $scope.sjs=$interval(function(){
        //     $scope.a=Math.floor(Math.random()*100+1);
        // },1000);

        // var date=$filter('date'),id=false;
        // $scope.fun=function(){
        //     if(!id){
        //     id= $interval(function(){
        //     $scope.time=date(new Date(),'yyyy-MM-dd HH:mm:ss');
        //     },1000);
        //     } else{
        //         $interval.cancel(id);
        //         id=false;
        //     }
          
            
        // } 
        
        
  var ip=document.querySelector('input');
       
       $scope.send = function(){
        if(ip.value=='男')
        {
                $http({
                url:"./data4.php",
                method:"post"
            
            }).success(function(result){
                console.log(result);
                for(i=0;i<result.length;i++)
                    {
                        for(key in result[i])
                            if(key=='sex')
                                {
                                    console.log(result[i].sex);
                                }

                    }
                $scope.students=result;
            }); 
        }
        
    };

   

    }); 
    
</script>

</html>