姓名：<input type="text" ng-model='name'>
性别：<input type="text" ng-model='gender'>

<table>
        <tr>
            <td> <a href="javascript:;" ng-click='show("id")'>学号</a> </td>
            <td> <a href="javascript:;" ng-click='show("name")'>姓名</a> </td>
            <td> <a href="javascript:;" ng-click='show("age")'>年龄</a> </td>
            <td> <a href="javascript:;" ng-click='show("gender")'>性别</a> </td>
            <td> <a href="javascript:;" ng-click='show("score")'>得分</a> </td>
        </tr>
        <tr ng-repeat='user in users|filter:{name:name,gender:gender}'>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender=='M'?'男':'女'}}</td>
            <td>{{user.score}}</td>
        </tr>   
    </table>