<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <script src='../Angularjs/angular.min.js'></script>
</head>

<body ng-app='app'>
    <DIV ng-controller='ctrl'>
        <input type="text" ng-model='msg' ng-change='chg()'>
        <input type="text" ng-model='msg2' ng-change='chg()'>
            ={{result}}
        
    </DIV>
</body>
<script>
    var app = angular.module('app', []);
    app.controller('ctrl',['$scope',function($scope){
        $scope.chg=function(){
            
            var a=$scope.msg;
            var b=$scope.msg2;
          /*   a=parseInt(a);
            b=parseInt(b);
            $scope.result=a+b; */
            // if(a==undefined||a=='')
            //     a=0;

            a=parseInt(a)||0;
            b=parseInt(b)||0;
            $scope.result=a+b;


        }
    }]);
</script>

</html>